.colorBar {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
}
#red {
  margin-top: 100px;
  background-color: #ff3232;
}
#orange {
  background-color: #ff9d1c;
}
#yellow {
  background-color: #f5e23c;
}
#lightyellow {
  background-color: #fff453;
}
#green {
  background-color: #47d12c;
}
#babyblue {
  background-color: #a3b8ff;
}
#blue {
  background-color: #3258ff;
}
#purple {
  background-color: #8132ff;
}
#pink {
  background-color: #ffa3fa;
}
#black1 {
  background-color: #111;
}
#black2 {
  background-color: #1a1a1a;
}
#grey {
  background-color: #707070;
}
#lightgrey {
  background-color: #ededed;
}
#offwhite {
  background-color: #f5f5f5;
}
#tan {
  background-color: #ffe6a3;
}
