#sevenDOrange {
  background-color: #c04a0d;
}
#sevenOrange {
  background-color: #e87f11;
}
#sevenTan {
  background-color: #eec472;
}
#sevenGreen {
  background-color: #beab26;
}
#sevenBrown {
  background-color: #65340f;
}
