  #stutzGreen {
    background-color: #085531;
  }
  #stutzBlue {
    background-color: #1b1768;
  }
  #stutzRed {
    background-color: #a0180e;
  }
  #stutzBrick {
    background-color: #d1b866;
  }
  #stutzTan {
    background-color: #bcac8a;
  }
  