.navBar {
  background: #000;
  color: #fff;
  height: 100px;
  font-family: "Avenir Next";
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}
.navBar a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    vertical-align: middle;
}
.logo {
    float: left;
    font-weight: bold;
    font-size: 45px;
}
.randomLink {
    float: right;
    font-weight: bold;
    font-size: 45px;
}

#logoRed {
  color: #ff3232;
}
#logoOrange {
  color: #ff9d1c;
}
#logoLightyellow {
  color: #fff453;
}
#logoGreen {
  color: #47d12c;
}
#logoBabyblue {
  color: #a3b8ff;
}
#logoBlue {
  color: #3258ff;
}
#logoPurple {
  color: #8132ff;
}
